body {
background-color: #00008B;
}

header {
text-align: center;
font-size: 200%;
color: #FF0000 ;	
background-color: #6495ED;
margin: 10px;
height: 90px;
border-radius: 5px;
font-family: Arial Black, Gadget, sans-serif;
}

nav {
margin: 10px;
background-color: #6495ED;
height: 35px;
border-radius: 5px;
text-align: center;
font-family: Arial Black, Gadget, sans-serif;



}

main {
background-color: #F5DEB3;
margin: 10px;
border-radius: 5px;
min-width:200px;
padding:20px;
margin-left:10px;
margin-right:320px;
font-size:110%;

}



h1 {
font-size: 120%;
color: black;	
text-align: center;

}

h2 { 
font-size: 120%;
color: red;
}

aside { 
background-color: red;
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 10px;
padding:20px;
border-radius: 5px;
font-size: 105%;
float: right;
clear: right;
width: 260px; 
}

.imageside {
width: 260px;
border-radius: 5px; 
margin-left:10px; margin-bottom:10px;

}

footer { 
background-color: #F5DEB3;
margin: red;
height: 60px;
border-radius: 5px;
}




