body {
background-color:	#0000FF;
}

header {
text-align: center;
font-size: 200%;
color: #FF0000 ;	
background-color: 	#6495ED;
margin: 10px;
height: 90px;
border-radius: 5px;
font-family: Arial Black, Gadget, sans-serif;
}

nav {

background-color: #6495ED;
margin: 10px;
height: 35px;
border-radius: 5px;
text-align: center;

}

main {
background-color:  #6495ED;
border-radius: 5px;
margin: 5px;
padding:20px;
margin-left:10px;
margin-top:10px;
margin-bottom:10px;
font-size:110%;
width: 80%

}



h1 {
font-size: 120%;
color: black;	
}

h2 { 
font-size: 120%;
color: red;
}

aside { 
background-color: #6495ED ;
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 10px;
padding:20px;
border-radius: 5px;
font-size: 105%;
float: right;
clear: right;
width: 260px; 
}

.imageside {
width: 260px;
float: right;
border-radius: 5px; 
margin-left:10px; margin-bottom:10px;
clear:right;
opacity: 0.;  
}

footer { 
background-color: 	#6495ED	;
margin-left: 10px;
margin-right: 320px;
margin-top: 10px;
margin-bottom: 10px;
padding:20px;
border-radius: 5px;
font-size: 110%;
clear: both;
}